<a href="https://colab.research.google.com/github/rakesh8088/Python/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Rakesh")

Hello Rakesh

connect google drive to colab

In [3]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [4]:
import pandas as pd
df=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/data/Bengaluru_House_Data.csv')
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [5]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [7]:
df.drop(columns=['area_type','availability'],axis='columns',inplace=True)
df

                       location       size  society  ... bath  balcony   price
0      Electronic City Phase II      2 BHK  Coomee   ...  2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom  Theanmp  ...  5.0      3.0  120.00
2                   Uttarahalli      3 BHK      NaN  ...  2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK  Soiewre  ...  3.0      1.0   95.00
4                      Kothanur      2 BHK      NaN  ...  2.0      1.0   51.00
...                         ...        ...      ...  ...  ...      ...     ...
13315                Whitefield  5 Bedroom  ArsiaEx  ...  4.0      0.0  231.00
13316             Richards Town      4 BHK      NaN  ...  5.0      NaN  400.00
13317     Raja Rajeshwari Nagar      2 BHK  Mahla T  ...  2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK  SollyCl  ...  4.0      1.0  488.00
13319              Doddathoguru      1 BHK      NaN  ...  1.0      1.0   17.00

[13320 rows x 7 columns]

In [8]:
df['location'].dropna()

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13319, dtype: object